<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col">
      <img src="http://lorempixel.com/400/200/" class="img-fluid img-thumbnail" alt="Responsive image">
      <br><br>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" [(ngModel)]="rsTitle">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        <div class="form-group">
          <label for="abstract">Abstract</label>
          <textarea name="abstract"  class="form-control" [(ngModel)]="rsAbstract" rows="3"></textarea>
        </div>

      </form>

      <button (click)="OnSubmit();" class="btn btn-primary">Submit</button>

    </div>

    <div class="col"></div>

</div>

<div class="container">
  <div class="row justify-content-md-center">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let name of this.RSrequest">
        {{ name }}
      </li>
    </ul>
  </div>
</div>